html {
	background:#DCDCDC;
}

body {
	background:white;
	width:1280px;
	margin:auto;
	padding: 2%;
	padding-bottom:1%;
	font-family:Verdana, Arial, sans-serif;
}

path {
    stroke: white;
    stroke-width: 0.25px;
    fill: grey;
}

h1, h3{
	color:#900;
}

p {
	color:gray;
	font-size:12px;
	margin-top:0px;
}

div.moodmap {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
nav {
	}
	
	nav ul {
		background-color:#900;
		padding:0px;
		margin:0px;
	}
	nav li{
		padding:0px;
		margin:0px;
		list-style:none;
		display:inline-block;
		line-height:25px;
		text-align:left;
		width:auto;
		border-right:solid 1px #DCDCDC;
	}
	nav li a{
		font-size:12px;
		font-weight:bold;
		background-color:#900;
		color:white;
		text-decoration:none;
		padding-left:10px;
		padding-right:10px;
	}
	nav li a:hover {
		background-color:gray;
	}
	nav li:hover {
		background-color:gray;
	}
	nav li a.active {
		background-color:gray;
	}
	nav li.active {
		background-color:gray;
	}

footer ul {
	padding:0;
	margin:0;
}
footer li {
	display:inline-block;
	list-style:none;
	line-height:25px;
	width:32.9%;
}
footer li p{
	font-size:10px;
	color:gray;
	margin:0;
}